<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="mercadoliebre">
    <div class="box">
        <div class="container">
            <input type="text" class="nav-search-input" aria-label="Ingresá lo que quieras encontrar" name="as_word" placeholder="Buscar productos, marcas y más…" maxlength="120" autofocus="" autocapitalize="none" autocorrect="off" spellcheck="false" autocomplete="off" tabindex="2" value="" aria-activedescendant="" aria-controls="cb1-list" aria-autocomplete="list" id="cb1-edit" aria-expanded="false" role="combobox">
        </div>
    </div>
    </header>
    <br>
    </header>
    Comprá en cuotas y sin tarjeta de crédito
<nav>
        <ul>
            <a href="#"><li>Ofertas</li></a>
            <a href="#"><li>Tiendas Oficiales</li></a>
            <a href="#"><li>Vender</li></a>
            <a href="#"><li>Ayuda</li></a>
            <br>
            <a href="#"><li>Creá tu cuenta</li></a>
            <a href="#"><li>Ingresá</li></a>
            <a href="#"><li>Mis compras</li></a>
        </ul>
</nav>
    
    <img src="/images/img-home-banner.jpg" alt="banner" style="width: 100vw;">

</header>

<main>
    <section>
        <article>
                <h2>Basado en tu última visita</h2>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" style="width: 100vw;">
        </article>
    
    
    </section>


</main>

<footer>
<section>
    <article>
        <h3>Pagá con tarjeta o en efectivo</h3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
    </article>
    <article>
        <h3>Envío gratis desde $ 2.500</h3>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
    </article>
    <article>
        <h3>Seguridad, de principio a fin</h3>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
    </article>
    
    <br>
    Copyright © 1999-2020 MercadoLiebre S.R.L.
</section>
</footer>
</body>
</html>