<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Mercado Liebre</title>
</head>
<body>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="mercadoliebre">
    Lugar para poner la barra de búsqueda
    <br>
    Comprá en cuotas y sin tarjeta de crédito
<nav>
        <ul>
            <a href="#"><li>Ofertas</li></a>
            <a href="#"><li>Tiendas Oficiales</li></a>
            <a href="#"><li>Vender</li></a>
            <a href="#"><li>Ayuda</li></a>
        </ul>
        <ul>
            <a href="#"><li>Creá tu cuenta</li></a>
            <a href="#"><li>Ingresá</li></a>
            <a href="#"><li>Mis compras</li></a>
        </ul>
</nav>
    <img src="/images/img-home-banner.jpg" alt="banner" style="width: 100vw;">

</header>

<main>
    <section>
        <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" style="width: 100vw;">
                $6.770
                <br>
                40% OFF
                <h4>Cafetera Moulinex</h4>
            </article>
        
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" style="width: 100vw;">
                $230.000
                <br>
                20% OFF
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" style="width: 100vw;">
                $70.500
                <br>
                10% OFF
                <h4>Samsung Galaxy S10</h4>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" style="width: 100vw;">
                $23.200
                <br>
                5% OFF
                <h4>SmartTv Samsung 43"</h4>
            </article>
    </section>
</main>

<footer>
<section>
    <article>
        <h3>Pagá con tarjeta o en efectivo</h3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
    </article>
    <article>
        <h3>Envío gratis desde $ 2.500</h3>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
    </article>
    <article>
        <h3>Seguridad, de principio a fin</h3>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
    </article>
    
    <br>
    Copyright © 1999-2020 MercadoLiebre S.R.L.
</section>
</footer>
</body>
</html>