<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
		<header>
			<div class="top-header">
				<div class="logo">
					<a href="/">
						<img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" />
					</a>
				</div>
				<div class="form" action="#" method="GET">
					<div class="input">Buscar productos, marcas y más</div>
					<div class="submit"><i class="fa fa-search"></i></div>
				</div>
				<p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
				<img src="images/disney.webp" alt="" />
			</div>
			<nav>
				<ul>
					<li><a href="#">Ofertas</a></li>
					<li><a href="#">Tiendas Oficiales</a></li>
					<li><a href="#">Vender</a></li>
					<li><a href="#">Ayuda</a></li>
					<li>
						<a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
					</li>
					<li>
						<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
					</li>
					<li>
						<a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
					</li>
				</ul>
			</nav>
			<div class="burger-menu">
				<i class="fa fa-bars burger"></i>
			</div>
		</header>

    <div class="form_content">
    <main class="login">
        <h2>¡Hola! Bienvenidx a Mercado Liebre</h2>
      <form action="/" method="POST">
        <div class="user"><i class="fas fa-user"></i><input type="text" name="user" placeholder="Nombre de usuario" /></div>
        <div class="pass"><i class="fas fa-key"></i><input type="password" name="pass" placeholder="Contraseña" /></div>
        <input type="submit" value="Ingresar" />
      </form>

      <div class="crear_cuenta">
        <p>¿No tienes cuenta?</p>
        <a href="/register" class="link_text">Crear una cuenta</a>
      </div>
    </div>
    </main>
    <footer></footer>
  </body>
</html>
