main{
    height: 50vh;
}

.form_content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: auto;
  height: 70%;
}

.form_content form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  margin: 0% 10%;
}

.form_content p,
h2{
    font-size: large;
    text-align: center;
}
.form_content input {
  height: 20%;
  padding-left: 5%;
}

.form_content input[type="submit"] {
  background-color: #3483fa;
  border-color: transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding-left: 0;
}

.crear_cuenta{
    text-align: center
}

.form_content a{
    color: #3483fa;
    text-decoration: none;
    text-shadow: 200px;
}

.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: grey 1px solid;
    width: 30%;
    background-color: lightgrey;
}

